@import "variables";

#profile-page {
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	.header {
		display: flex;
		align-items: center;
		img {
			margin: 16px;
			width: 128px;
		}
		div {
			p {
				margin: 0;
				padding: 0;
			}
			p:first-of-type {
				font-size: 48px;
				margin-bottom: 24px;
			}
		}
	}

	.cards {
		& > div {
			& > div {
				display: flex;

				&.card-row {
					cursor: pointer;
					&:hover {
						background: $lt2_green;
					}
					&.active {
						background: $dk2_main;
						color: $lt2_main;
					}
					& > p > button {
						border: solid 2px $dk2_main;
						padding: 16px;
						border-radius: 16px;
						background: $lt1_main;
						cursor: pointer;

						&:hover {
							background: $lt2_main;
						}
					}
				}
				&.legend:hover {
					background: transparent;
				}

				&.details {
					display: flex;
					flex-direction: column;
					align-items: center;
					background: $lt2_purple;
					max-width: 804px;

					p {
						margin: 8px 32px;

						span {
							font-size: 24px;
						}

					}

					& > div {
						width: calc(100% - 32px);
						display: flex;
						justify-content: space-around;
						&> span {
							img {
								margin-top: 2px;
								height: 32px;
							}
						}

						&.active {
							margin: 4px;
							background: $lt2_green;
						}
					}
				}
				&:not(.details) {
					&> span {
						display: flex;
						text-align: center;
						justify-content: center;
						align-items: center;
					}
					p {
						display: flex;
						text-align: center;
						justify-content: center;
						align-items: center;
						width: 160px;
						height: 64px;
						margin: 0;
						border: 1px $lt2_main;
						border-right-style: solid;

						img {
							height: 80px;
						}
					}
				}
			}
		}
	}

	&> .dk-back,
	.modal-container {
		top: 0;
		position: fixed;
		z-index: 999;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
	}

	.dk-back {
		background: black;
		opacity: 0.8;
	}

	.modal {
		padding: 16px;
		background: white;
		.modal-header {
			display: flex;
			justify-content: right;
			button {
				cursor: pointer;
				background: $dk2_main;
				font-size: 32px;
				color: $purple;
				border: solid 4px black;
				border-radius: 8px;
			}
		}
		.modal-body {
			margin-top: 64px;
			width: 512px;
			&> div {
				margin-bottom: 64px;
				width: 100%;
				display: flex;
				justify-content: space-around;
				&> div {
					display: flex;
					flex-direction: column;
				}
			}
			select {
				border: solid 4px $main;
				background: white;
				padding: 8px;
				border-radius: 16px;
			}
			button {
				background: $main;
				color: $lt2_green;
				border: solid 4px $dk2_main;
				padding: 8px;
				border-radius: 16px;
				cursor: pointer;
			}

			.selector {
				&> p {
					text-align: center;
					font-size: 20px;
					font-weight: bold;
					color: $lt1_green;
					width: 192px;
					border-bottom: solid 16px $lt2_green;

					&.active {
						color: $main;
						border-bottom-color: $main;
					}
				}
			}

			.content-of-selector {
				height: 384px;
				background: $lt2_green;
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				justify-content: center;

				&> div {
					padding: 32px;

					&> p {
						text-align: center;
					}
				}
			}
		}
	}
}
