
$main: #6252B9;
$lt1_main: #8574E2;
$lt2_main: #AC9EFA;
$dk1_main: #463A89;
$dk2_main: #262144;

$lt2_green: #91FACD;
$lt1_green: #63E1AB;
$dk1_green: #2E8862;

$purple: #D64E93;
$lt2_purple: #FC92C8;
$lt1_purple: #FC92C8;
$dk1_purple: #A3386E;
