@import "components/page-layout";
@import "components/home";
@import "components/sign-up";

html {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
}

*,
*:before,
*:after {
	box-sizing: inherit;
	user-select: none;
}

a {
	text-decoration: none;
	outline: 0;
}

input {
	user-select: text;
}

input.incorrect {
	border-radius: 6px;
	border: solid red 2px;
}
